<div class="section parallax portfolio" style="background-image:url('{{ fields.uri.content }}')" data-stellar-background-ratio="0.4" data-overlay="rgba(0,0,0,0.5)">
    <div class="container">
        <div class="row">
            <div class="t-center">
                 {{fields.title.content}}
                <p class="white font-15 fx" data-animate="fadeInUp" data-animation-delay="200">{{ fields.body.content}}</p>
                <a class="btn btn-lg main-bg fx shape" data-animate="fadeInUp" data-animation-delay="400" href="{{ fields.path.content }}">Check it Out</a>
            </div>
        </div>
    </div>
</div>
<div class="divider centered">&nbsp;</div>
