<div class="section-10">
	<div class="">
{% if title %}
  <h3 class="head-4 uppercase font-30">{{ title }}</h3>
{% endif %}
<div class="portfolio p-style2 horizontal-slider lg-slider" data-slides_count="3" data-scroll_amount="3" data-slider-speed="300" data-slider-infinite="1" data-slider-dots="0">
{% for row in rows %}
 
		<div{{ row.attributes }}>
			{{ row.content }}
			</div>
	{% endfor %}
	</div>
</div>
	
	
					
				
